/*** set body gradient and gsk image pattern : START****/
html {
	height: 100%;
}

body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fc6306+0,ffa73d+50,fe8f17+100 */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fc6306+0,fe8f17+100 */
	background: #fc6306;
	/* Old browsers */
	background: url('../images/bg3.png') no-repeat left bottom,
		-moz-linear-gradient(left, #fc6306 0%, #fe8f17 100%);
	/* FF3.6-15 */
	background: url('../images/bg3.png') no-repeat left bottom,
		-webkit-linear-gradient(left, #fc6306 0%, #fe8f17 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: url('../images/bg3.png') no-repeat left bottom,
		linear-gradient(to right, #fc6306 0%, #fe8f17 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc6306',
		endColorstr='#fe8f17', GradientType=1);
	/* IE6-9 */
	min-height: 100%;
	color: #ffffff !important;
}

/*** set body gradient and gsk image pattern : END ****/

/*** set navar transparent : START ****/
.navbar-default {
	background-color: #e74c3c !important;
	border: 2px solid #fa7c12;
}

.navbar-default .navbar-header>a {
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
	color: #ffffff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus {
	border-bottom: 2px solid #ecf0f1;
	background-color: transparent;
}

.tembus {
	background-color: transparent !important;
}

.hvrcenter {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	overflow: hidden;
}

.hvrcenter:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	right: 50%;
	bottom: 0;
	background: #ECF0F1;
	height: 2px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.hvrcenter:hover:before, .hvrcenter:focus:before, .hvrcenter:active:before
	{
	left: 0;
	right: 0;
}

/**** logougt cursor pointer ***/
#logoutLink {
	cursor: pointer;
}

.logoImg {
	height: inherit;
	width: inherit;
	max-height: 100%;
	max-width: 100%;
}

.customRadio {
	/* margin: 20px;
	border-radius: 50px 50px; */
}

.ansText {
	color: #fc6306;
	font-weight: bold;
}

.startButton{
	color:#fc6306;
	font-weight:600;
	text-decoration: none;
	padding:40px;
	font-size: large;
}

.startButton:hover{
	color:#fc6306;
	font-weight:600;
	text-decoration: none;
	padding:40px;
	font-size: large;
}


.tryAgain{
	color:#ffffff;
	font-weight:600;
	text-decoration: none;
	padding:40px;
	font-size: large;
}

.tryAgain:hover{
	color:#ffffff;
	font-weight:600;
	text-decoration: none;
	padding:40px;
	font-size: large;
}